.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}

.plusIcon {
  height: 40px;
  float: right;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.75);
}

.searchClient {
    border: none !important;
    outline: none !important;
    border-radius: 0px !important;
    margin-top: 20px;
    background-color: #2095f3 !important;
    color: white !important;
    box-shadow: 0px 10px 11px -3px rgba(0, 0, 0, 0.37);
}

.searchClient:focus {
  box-shadow: 0px 10px 11px -3px rgba(0, 0, 0, 0.37);
}

.searchClient::placeholder { color: white !important; }

.test::before {
  content: url('./public/img/search.svg');
  position: absolute;
  background-color: #2095f3;
  width: 20px;
  height: 20px;
}

.list {
  display: flex;
  margin-top: 15px;
}

.userCpf {
  font-size: 12px;
  display: flex;
  padding-left: 5px;
  color: gray;
}

.addInput {
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
